.App {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Header {
  background-color: yellowgreen;
  height: 50px;
}

.Content {
  background-color: aqua;

  flex: 1 0;
}

.Footer {
  background-color: darkcyan;
  height: 50px;
}
